<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bootstrap-table使用</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.js"></script>

</head>
<style>
    .black{
        color: black;
    }
    iniput{
        color:black;
    }
    .hide{
        display: none;
    }
    .back{
        background: rgba(0,0,0,0.3);/* r:red g:green b:blue a:alpha(半透明):0-1,1是不透明，0是全透明 */
        color: white;
    }
    .title{
        color: transparent;
        background-color : black;
        text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
        -webkit-background-clip : text;
        font-size: 50px;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .test{
        text-align: center;
        color: aliceblue;
        font-size: 70px;
        padding-top: 100px;
        padding-bottom: 100px;

    }

    .pic{
        background-image: url("/background.jpg");
    }
    .table_li{
        background-color: antiquewhite;
    }
    .col-xs-1-5 {
        width: 18%;
        float: left;
    }

</style>
<body class="pic">

<nav class = "navbar navbar-default back" role = "navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/total">多源灾情数据管理服务系统</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">人员伤亡及失踪&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/mshd/commd">死亡</a></li>
                <li><a href="/mshd/coll">失踪</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">房屋破坏&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/commd">土木</a></li>
                <li><a href="/coll">砖混</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">生命线工程灾情&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/commd">交通</a></li>
                <li><a href="/coll">通信</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">次生灾害&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/commd">崩塌</a></li>
                <li><a href="/coll">滑坡</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">震情&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/commd">基本震情</a></li>
                <li><a href="/coll">灾情预测</a></li>
            </ul>
        </li>
        <li><a href="/request">发送数据</a></li>
    </ul>
</nav>

<table id="tb_request"></table>


<div style="padding-top: 50px;"></div>


</body>


<script type="text/javascript">
    $(function(){
        var oTable = TableInit();
        oTable.Init();
    });

    function TableInit() {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function() {
            function addFunctionAlty(value, row, index) {
                return [
                    '<button id="delete" type="button" class="btn btn-default">发送</button>'
                ].join('');
            }
            window.operateEvents = {

                'click #delete': function (e, value, row, index) {
                    var adata = {
                        "disasterID":row.disasterID,
                        "disasterDate":row.disasterDate,
                        "disasterType":row.disasterType,
                        "status":1,
                        "oURL":row.oURL,
                        "requestUnit":row.requestUnit
                    }
                    var data = JSON.stringify(adata);
                    $.ajax({
                        type : "POST",                           //通过POST方式上传请求
                        contentType : "application/json",//上传内容格式为json结构
                        data : data,                                 //上传的参数
                        url : "/mshd/send/readData",     //请求的url。与后端@Request Mapping注解中的值一致。
                        success : function() {		      //请求成功的回调函数
                            alert("请求成功")
                        },
                        error : function(e) {		      //请求失败的回调函数
                            alert(adata.disasterID+"   "+adata.status)
                        },
                        failread:function(e) {		      //请求失败的回调函数
                            alert("读取失败")
                        }
                    });
                }
            };


            $('#tb_request').bootstrapTable({
                url: "/mshd/Request/getPage",
                pagination: true, //分页
                search: false, //显示搜索框
                sidePagination: "server", //服务端处理分页
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 5,                       //每页的记录行数（*）
                showRefresh: true,
                responseHandler:function(res) {
                    return {
                        "total":res.total,//总页数
                        "rows": res.data //数据
                    }
                },
                columns: [
                    {
                        title: '灾情ID',
                        field: 'disasterID',
                        align: 'center',
                        valign: 'middle',
                    },
                    {
                        title: '时间',
                        field: 'disasterDate',
                        align: 'center',
                        valign: 'middle',
                    },
                    {
                        title: '类型',
                        field: 'disasterType',
                        align: 'center',
                        valign: 'middle',
                    },
                    {
                        title: '状态',
                        field: 'status',
                        align: 'center',
                        valign: 'middle',
                    },
                    {
                        title: '发送地址',
                        field: 'oURL',
                        align: 'center',
                        valign: 'middle',
                    },
                    {
                        title: '报告单元',
                        field: 'requestUnit',
                        align: 'center',
                        valign: 'middle',
                    },{
                        field: 'operate',
                        title: '操作',
                        events: operateEvents,//给按钮注册事件
                        formatter: addFunctionAlty//表格中增加按钮
                    }
                ]
            });
        };
        return oTableInit;
    };



</script>
</html>